<h1>Edit Profile</h1>

<%= form_with model: @user, url: profile_path, method: :patch, local: true do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password, "New Password (leave blank to keep current)" %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Update Profile" %>
  </div>
<% end %>
