<h1>Login</h1>

<%= form_with model: @user_session, url: login_path, local: true do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>

<p>
  Don't have an account? <%= link_to "Register", register_path %>
</p>
